
<div id="booking">
    <div id="data" class="one">
        <p>instructor: {{instructor}}</p>
        <p>Booking ID: {{bookingID}}</p>
    </div>
    <div id="data" class="two">
        <p>Starts At: {{startTime}}</p>
        <p>Ends At: {{endTime}}</p>
    </div>
    <div id="data" class="three">
        <p>Status: {{status}}</p>
        <p>Details: {{eventDetails}}</p>
    </div>
    <div id="data" class="four">
        <p>Created At: {{createdAt}}</p>
        <p>Last Updated At: {{updatedAt}}</p>
    </div>
        
    <div id="data" class="five">
        <p>Room ID: {{roomID}}</p>
        <button (click)="deleteRoom()">Delete</button> 
        <!-- calls the deleteRoom function, it takes the booking id of the component that it is in and calls the route -->
    </div>
</div>
